<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <head>
    <h3><a href="/">Home</a></h3>
    <h3><a href="/articles">Articles</a></h3>
    {% if app.user %}
        <h3><a href="/logout">logout</a></h3>
    {% else %}
        <h3><a href="/login">login</a></h3>
        <h3><a href="/register">register</a></h3>
    {% endif %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
