{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}

{% block body %}
    <main class="form-signin w-100 m-auto">
        <h1 class="text-center">Edit Article</h1>

        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_article_index') }}"><button class="w-100 btn btn-lg btn-primary mt-2">Back to list</button></a>

        {{ include('article/_delete_form.html.twig') }}
    </main>
{% endblock %}
